* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #121212;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 350px;
  text-align: center;
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

#searchInput {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #2a2a2a;
  color: #fff;
}

#searchInput::placeholder {
  color: #aaa;
}

ul {
  list-style: none;
  margin-top: 1.5rem;
  text-align: left;
  max-height: 250px;
  overflow-y: auto;
}

li {
  padding: 0.6rem;
  background-color: #2e2e2e;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #444;
}
